<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Fibre::Fun</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<link rel="stylesheet" href="<% request.uri_base %>/css/table_style.css" />

<script type="text/javascript" src="<% request.uri_base %>/javascripts/tablesorter/jquery-latest.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/tablesorter/jquery.tablesorter.js"></script> 
<script type="text/javascript" src="<% request.uri_base %>/javascripts/fibrefun.js"></script>
</head>


<body>
<h1>Internlageroversikt for fiber - Kommunikasjon, Helse Vest IKT </h1>
<% content %>

<div id="info_msg">
<% info_msg %>
</div>

<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
<br/><a href="http://grammarist.com/spelling/fiber-fibre/">fibre?
</div>
</body>
</html>
